.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;    
}

.modal {
    background-color: $light-blue;
    border-radius: .5rem;
    color: #ffffff;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal .option__text {
    padding-right: 0;
}